<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reservationtabledesignpatterns">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_application"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WyszukiwanieRezerwacjiDesignPatternsActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".StolikiOffDesignPatternsActivity" />
        <activity android:name=".StolikiDesignPatternsActivity" />
        <activity android:name=".SkanerDesignPatternsActivity" />
        <activity android:name=".RezerwujDesignPatternsActivity" />
        <activity android:name=".RezerwacjaInfoDesignPatternsActivity" />
        <activity android:name=".MenuRestauracjaDesignPatternsActivity" />
        <activity android:name=".MenuKlientDesignPatternsActivity" />
        <activity android:name=".HistoriaUserDesignPatternsActivity" />
        <activity android:name=".HistoriaDesignPatternsActivity" />
        <activity android:name=".DaneOsoboweDesignPatternsActivity" />
        <activity android:name=".PrzypomnieniehaslaDesignPatternsActivty" />
        <activity android:name=".RejestracjaDesignPatternsActivity" />
        <activity android:name=".LoginDesignPatternsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>